Rush.Game/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Rush.v11.suo
Rush.Game/bin/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-1715072478-878807380-3410023500-1001.pckgdep
Rush.Game/bin/Debug/AppxManifest.xml.BACKUP.6136.xml
Rush.Game/bin/Debug/AppxManifest.xml.BASE.6136.xml
Rush.Game/bin/Debug/AppxManifest.xml.LOCAL.6136.xml
Rush.Game/bin/Debug/AppxManifest.xml.REMOTE.6136.xml
Rush.Game/obj/Debug/SharpDX/priconfig.xml.intermediate
Rush.Game/obj/Debug/SharpDX/Resources.resfiles.intermediate
Rush.Game/bin/
Rush.Game/obj/
Rush.Game/bin/Debug/AppX/AppxManifest.xml
Rush.Game/bin/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-1429439444-3468141007-4284485360-1000.pckgdep
Rush.Game/bin/Debug/AppX/resources.pri
Rush.Game/bin/Debug/AppX/Rush.Game.exe
Rush.Game/bin/Debug/AppX/Rush.Game.pdb
Rush.Game/bin/Debug/AppX/vs.appxrecipe
Rush.Game/bin/Debug/AppxManifest.xml
Rush.Game/bin/Debug/resources.pri
Rush.Game/bin/Debug/Rush.Game.build.appxrecipe
Rush.Game/bin/Debug/Rush.Game.exe
Rush.Game/bin/Debug/Rush.Game.pdb
Rush.Game/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Rush.Game/obj/Debug/layout.resfiles
Rush.Game/obj/Debug/layout.resfiles.intermediate
Rush.Game/obj/Debug/pri.resfiles
Rush.Game/obj/Debug/pri.resfiles.intermediate
Rush.Game/obj/Debug/priconfig.xml.intermediate
Rush.Game/obj/Debug/ProjectArchitectures.txt
Rush.Game/obj/Debug/resources.resfiles.intermediate
Rush.Game/obj/Debug/Rush.Game.csproj.FileListAbsolute.txt
Rush.Game/obj/Debug/Rush.Game.csproj.GenerateResource.Cache
Rush.Game/obj/Debug/Rush.Game.csprojResolveAssemblyReference.cache
Rush.Game/obj/Debug/Rush.Game.exe
Rush.Game/obj/Debug/Rush.Game.pdb
Rush.Game/obj/Debug/SharpDX/priconfig.xml.intermediate
Rush.Game/obj/Debug/SharpDX/Resources.resfiles
Rush.Game/obj/Debug/SharpDX/Resources.resfiles.intermediate
