Rush.Game/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Rush.v11.suo
Rush.Game/bin/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-1715072478-878807380-3410023500-1001.pckgdep
Rush.Game/bin/Debug/AppxManifest.xml.BACKUP.6136.xml
Rush.Game/bin/Debug/AppxManifest.xml.BASE.6136.xml
Rush.Game/bin/Debug/AppxManifest.xml.LOCAL.6136.xml
Rush.Game/bin/Debug/AppxManifest.xml.REMOTE.6136.xml
Rush.Game/obj/Debug/SharpDX/priconfig.xml.intermediate
Rush.Game/obj/Debug/SharpDX/Resources.resfiles.intermediate
